[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
"discord.py" = {version = "*", extras = ["voice"]}
numpy = "*"
opencv-python = "*"
pykakasi = "==2.0.1"
pytz = "==2020.4"
requests = "==2.25.1"
urlextract = "==1.2.0"
rembg = "*"

[dev-packages]

[requires]
python_version = "3.9"
