[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pykakasi = "*"
pytz = "*"
requests = "*"
urlextract = "*"
rembg = "*"
py-cord = {extras = ["voice"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.2"
