aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
Deprecated==1.2.13
discord.py==1.7.3
filelock==3.6.0
idna==3.3
jaconv==0.3
multidict==6.0.2
numpy==1.22.3
opencv-python==4.5.5.64
platformdirs==2.5.2
pycparser==2.21
pykakasi==2.2.1
PyNaCl==1.4.0
pytz==2022.1
requests==2.27.1
six==1.16.0
typing_extensions==4.2.0
uritools==4.0.0
urlextract==1.5.0
urllib3==1.26.9
wrapt==1.14.1
yarl==1.7.2
